<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="w-full min-h-screen bg-zinc-400 pt-3">
      <div class="mx-auto">
        <h1 class="text-3xl font-bold text-center">My profile</h1>
        <div class="w-full flex gap-6 items-center px-[5%]">
          <div class="">
            <div
              class="dp bg-gray-600 w-16 h-16 rounded-full overflow-hidden">
              <img
                class="w-full h-full object-cover"
                src="/images/uploads/<%=user.profileImg%>"
                alt="" />
            </div>
            <button class="border-2 border-black mt-2 -ml-2">
              <a href="/profile/upload"> upload Imag</a>e
            </button>
          </div>

          <h1 class="text-2xl font-bold">Hello <%=user.name%> 👋</h1>
        </div>
        <div class="overflow-x-auto">
          <table
            class="min-w-full text-xl my-4 divide-y-2 divide-gray-200 bg-white text-sm dark:divide-gray-700 dark:bg-gray-900">
            <tbody
              class="divide-y divide-gray-200 dark:divide-gray-700">
              <tr>
                <td
                  class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 dark:text-white">
                  <span class="text-blue-300 font-semibold">
                    Name:</span
                  >
                  <%=user.name %>
                </td>
                <td
                  class="whitespace-nowrap px-4 py-2 text-gray-700 dark:text-gray-200">
                  <span class="text-blue-300 font-semibold"
                    >Email:</span
                  ><%=user.email%>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- ************************************************ -->
      <h1 class="text-4xl font-bold p-3">Create Post</h1>
      <hr />
      <!-- ***************************** -->
      <div class="px-3">
        <form
          action="/create-post"
          method="post"
          class="mb-0 mt-6 space-y-4 bg-zinc-300 rounded-lg p-4 shadow-lg sm:p-6 lg:p-8">
          <p class="text-center text-lg font-medium">Create a post</p>

          <div>
            <label for="title" class="sr-only">Title</label>

            <div class="relative">
              <input
                name="title"
                type="text"
                class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-xl"
                placeholder="Title" />

              <span
                class="absolute inset-y-0 end-0 grid place-content-center px-4">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4 text-gray-400"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
                </svg>
              </span>
            </div>
          </div>

          <div class="shadow-xl">
            <label
              for="OrderNotes"
              class="block text-sm font-medium text-gray-700">
            </label>

            <textarea
              name="content"
              id="OrderNotes"
              class="mt-2 w-full rounded-lg border-gray-200 align-top shadow-sm sm:text-sm p-3"
              rows="4"
              placeholder="Enter any additional order notes..."></textarea>
          </div>

          <button
            type="submit"
            class="block w-full rounded-lg bg-indigo-600 px-5 py-3 text-sm font-medium text-white">
            Submit
          </button>
        </form>
      </div>
      <h1 class="px-3 py-5 text-3xl font-bold">Your posts</h1>
      <hr />

      <div
        class="flex w-full flex-wrap gap-4 items-center justify-start p-7">
        <!-- ********************************* -->
        <%posts.reverse().forEach((post)=>{%>
        <div
          class="w-[350px] h-[200px] relative bg-gray-700 text-white rounded-xl p-3 overflow-hidden">
          <div class="flex items-center justify-between">
            <h3 class="text-xl font-semibold"><%=post.title%></h3>
            <span class="text-sky-400 font-semibold"
              ><%=user.name%></span
            >
          </div>

          <hr />
          <p class="content pt-2"><%=post.content%></p>
          <div
            class="buttons absolute bottom-[0px] w-full left-0 bg-gray-800 text-blue-400 flex justify-between items-center">
            <div class="">
              <button
                class="border-black border-2 p-1 w-[90px] px-3 bg-gray-600">
                <a href="/like/<%=post._id%>"
                  ><%=post.likes.includes(user.id) ?"Un Like":"Like"
                  %>
                </a>
              </button>
              <span class="text-center px-2"
                ><%=post.likes.length%></span
              >
            </div>
            <div class="date"><%=post.date%></div>
            <button
              class="border-black border-2 p-1 px-3 bg-gray-600">
              <a href="/edit/<%=post._id%>">Edit</a>
            </button>
          </div>
        </div>
        <%})%>

        <!-- ********************************* -->
      </div>
    </div>
  </body>
</html>
